{% extends 'students/base.html' %}
  {% block rcol %}
    <div class="col-sm-4">
      <h1>Department Login:</h1>
<form method="post" action="{% url 'students:dep_login' %}">
          {% csrf_token %}
          {# A more "HTML" way of creating the login form#}
          <label for="username">Username:</label>
          <input type="text" name="username" placeholder="Username">
<label for="password">Password:  </label>
          <input type="password" name="password" placeholder="Password">
<input type="submit" name="" value="Login">
</form>
        <a href="{% url 'students:password_reset' %}">Forgot Password?</a>
</div>
  </div>
{% endblock %}