{% extends 'students/base.html' %}
{% load static %}

{% block search %}
    {% if user.student.leader and not user.student.choices_filled  %}
<form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search using Area of Interest" name="search_box" id="search_box" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    {% endif %}
{% endblock %}


{% block lcol %}

<div class="col-sm-4 bg-light rounded border border-dark" style="color: black">
{% if not user.student.choices_filled %}
    <h2 class="subhead">Professor's List</h2>
{% if Professor_list %}

    <ul>
    {% for professor in Professor_list %}
        {% if user.is_authenticated and professor not in Filled_Choices %}
        <li><div class="d-inline" style="margin-bottom: 5px"><a style="color: black" href="{% url 'students:faculty_detail' professor.pid %}" class="btn btn-link bg-white bar border border-dark">{{ professor.name }}</a>
        </div>{% if not user.student.choices_filled and user.student.leader %}<div class="d-inline-block" style="margin-bottom: 5px"><a href="{% url 'students:add' professor.pid%}" class="btn btn-link bg-primary" style="color: white">Add</a></div></li>{% endif %}
        {% endif %}
    {% endfor %}
    </ul>

{% else %}
    <p>No Professors are available</p>
{% endif %}
{% else %}
<p>You have already confirmed your choices, See your confirmed choices <a href="{% url 'students:confirm_choice' %}">here</a>! </p>
{% endif %}
</div>
{% endblock %}

{% block midcol %}
{% if not user.student.choices_filled and user.student.leader %}
<div class="col-sm-4 border border-dark rounded bg-light" style="color: black">
<h2 class="subhead">Choices Filled</h2>
{% if choices_filled %}

    <ul>
        {% for choice in choices_filled %}
        <li><div class="d-inline"><a href="{% url 'students:faculty_detail' choice.professor.pid %}" class="btn btn-link bg-white bar border border-dark" style="color: black">
            {{ choice.professor }}</a></div><div class="d-inline-block" style="margin: 5px"><a href="{% url 'students:remove' choice.professor.pid%}" class="btn btn-link bg-warning" style="color: white">Remove</a></div></li>
        {% endfor %}
    </ul>
        <a href="{% url 'students:confirm_choice' %}" class="btn btn-danger" style="float: right">Freeze</a>
{% else %}
<p> No Choice Filled!!!</p>
{% endif %}
    </div>
    {% endif %}
    {% endblock %}