{% extends 'students/dep_home.html' %}
{% block rcol %}

<div class="col-sm-4 bg-light border border-dark rounded">
<h2 class="subhead">Student's Information</h2>
  <form method="post">
    {% csrf_token %}
      <table border="1">
    {{ form }}
      </table>
    <button type="submit" class="btn btn-outline-info" style="float:right">Save</button>
  </form>
    </div>
{% endblock %}
{% block messages %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}
