{% extends 'students/base.html' %}
{% block  messages %}
{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
{% endblock %}
{% block rcol %}
    <div class="col-sm-4 pre-scrollable">
<h2>Chats</h2>
{% if Messages %}
    <ul class="messagelist">
{% for msg in Messages %}
    <li>{% if user.student == msg.sender %}You{% else %}{{ msg.sender }}{% endif %}:<br>{{ msg.content }}</li>
{% endfor %}
    </ul>
    {% else %}
    No messages yet
{% endif %}
    </div>
    {% endblock %}
{% block midcol %}
    <div class="col-sm-4">
 <form method="post" novalidate>
  {% csrf_token %}
    {{ form.as_p }}
 </form>
  <button type="submit">Send</button>
</form>
    </div>
{% endblock %}